.section.hero{
    display: flex;
    align-items: center;
}

.hero .typography{
    padding-right: 2em;
}

.hero .gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vw;
}

.hero .gallery .custom-image{
    border-radius: 3px;
    overflow: hidden;
    transform: scale(0.1);
    animation: 0.4s popOut forwards;
    transform: scale(0);
    opacity: 0;
    &:nth-child(2){
        animation-delay: 0.1s;
    }
    &:nth-child(3){
        animation-delay: 0.2s;
    }
    &:nth-child(6){
        animation-delay: 0.3s;
    }
    &:nth-child(9){
        animation-delay: 0.4s;
    }
    &:nth-child(8){
        animation-delay: 0.5s;
    }
    &:nth-child(7){
        animation-delay: 0.6s;
    }
    &:nth-child(4){
        animation-delay: 0.7s;
    }
    &:nth-child(5){
        animation-delay: 0.8s;
    }
}

@keyframes popOut{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}