@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --background-color: #fff;
  --shadow-color: rgba(0,0,0,0.2);
  --primary-color: #04A601;
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;

  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: var(--font-size);
}

a{
  text-decoration: none;
}

img{
  object-fit: cover;
}

.main{
  padding-block: 2vw;
  
}
.container{
  padding-inline: 15vw;
}