.navbar{
    height: 80px;
    background-color: var(--background-color);
    box-shadow: 0 3px 6px var(--shadow-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
}

.container{
    padding-inline: 15vw;
}

.navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color);
    text-shadow: 0 1px 3px var(--shadow-color);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1px;
}

.navbar .logo img{
    height: 2rem;
    margin-right: 0.3em;
}

.navbar .logo span{
    color: #332D2E;
}

.nav-links a{
    margin-left: 1em;
    color: var(--text-light);
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    font-size: 0.9rem;
    &::before{
        content: "";
        display: inline-block;
        height: 3px;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        bottom: -10px;
        left: 0;
        transform: scaleX(0);
        transition: transform calc(var(--animation-speed) * 0.2s) ease-in-out;
    }
    &:hover{
        &::before{
            transform: scaleX(1);
        }
    }
    &.active{
        color: var(--primary-color);
        font-weight: 600;
    }
}
.sidebar-btn{
    display: none;
}


@media screen and (max-width: 768px) {
    .nav-links{
        display: none;
    }

    .sidebar-btn{
        display: block;
    }
}