.recipe-section {
    display: flex;
    flex-wrap: wrap;
}

.recipe-info {
    flex: 1;
    padding-right: 1em;
    width: 100%;
    margin-bottom: 1em; 
}

.recipe-info .recipe-title{
    font-size: 3em;
    color: var(--text-color);
}

.recipe-details-infos{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 1.4em;
    color: var(--text-light);
}

.recipe-info .recipe-chef{
    display: flex;
    align-items: center;
    color: var(--text-light);
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 2em;
}

.recipe-info .recipe-chef svg{
    color: var(--primary-color);
    font-size: 1.2em;
    margin-right: 0.4em;
}

.recipe-chef .recipe-chef-name{
    color: var(--text-light);
}

.recipe-chef .recipe-chef-name:hover{
    color: var(--primary-color);
}

.recipe-text{
    font-size: 1em;
    color: var(--text-light);
}

.recipe-subtitle{
    font-size: 1.4em;
    margin-top: 0.6em;
    color: var(--text-color);
}

.recipe-image {
    width: 50%;
    height: 400px;
    background-size: cover;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .recipe-section {
      flex-direction: column;
    }
  
    .recipe-image {
      width: 100%;
      height: auto;
    }
  }